/* FontAwesome CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF;
}

/* Default Color */

:root{
    --btn-color: #E02C6D;
    --title-color: #3A3A3A;
    --gray: #787885;
}

/* Primary Styling */
.btn{
    background-color: var(--btn-color);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.section-title{
    text-align: center;
    color: var(--title-color);
    font-size: 28px;
    font-weight: 600;
}
/* Navbar Styles */
header{
    height: 725px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 40px 0px;
}
.nav-item li, i{
    margin-right: 34px;

}
.logo{
    color: var(--title-color);
    font-size: 24px;
    font-weight: 700;
}
.nav-item li, i{
    color: var(--title-color);
    font-size: 16px;
    font-weight: 600;
}

/* Banner Styles */
.banner-main-container{
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img-container{
    width: 40%;
}
.banner-container{
    height: 80%;
    display: flex;
    align-items: center;
}
.banner-text-content{
    width: 60%;
}
.banner-text-content > h1{
    color: var(--title-color);
    font-size: 52px;
    font-weight: 700;
}

.banner-text-content > p{
    width: 75%;
    margin-top: 10px;
    color: var(--title-color);
    font-size: 16px;
    font-weight: 600;
}
.prebook-btn{
    margin-top: 10px;
    padding: 10px 0px 10px 15px;
    border-radius: 40px;
    text-align: center;
}
.prebook-btn i{
    color: #FFF;
    margin-left: 10px;
}
.banner-img{
    width: 100%;
}

/* Sponsor Section Styles */
#sponsorSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px ;
    margin: 70px 0px;
    Border: 1px solid;
    Border-image: linear-gradient(to right, transparent, rgba(128, 128, 128 , 0.438), transparent);
    Border-left: 0;
    Border-right: 0;
    Border-image-slice: 1;
}
.sponsor-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
   
}

/* Popular Collection Styles */
#popularProduct{
    margin: 50px 0px;
}
.product-container{
    margin-top: 70px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.product-box{
    width: 329px;
    height: 476px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
 }
 .product-content{
    padding: 15px;
 }
 .product-title{
    color: var(--title-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px; 
 }
 .product-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; 
 }
 .product-short-desc{
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 143%; 
    letter-spacing: 0.252px;
    width: 70%;
 }
 .rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }
 .rating i{
    font-size: 10px;
   color: #FB8200;
   
 }
 .rating-icon{
    margin-left: -30px;
 }
 .rating-text{
    color: #5E6366;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-left: -25px;
 }

 /* Featured Section Styles */
 #featuredSection{
    padding:50px 0px;
    /* border: 1px solid; */
 }
 .featured-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .featured-text-content{
    width: 50%;
 }
.featured-text-content > h1{
    color: var(--title-color);
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}
.featured-text-content > p{
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
}
.featured-text-content > button{
    margin-top: 12px;
    padding: 10px 25px;
}
/* Responsive Design */

/* For Mobile Devices */
@media screen and (max-width: 576px) {
    header{
        height: 550px;
    }
    nav{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-main-container{
        background-image: none;
        height: 90%;
    }
    .banner-img-container{
        background-image: url('./images/Circle\ design.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-text-content{
        width: 100%;
        margin: auto;
    }
    .banner-text-content{
        text-align: center;
    }
    .banner-text-content > h1{
        font-size: 28px;
    }
    .banner-text-content > p{
        width: 100%;
        font-size: 14px;
    }
    .nav-item{
        display: none;
    }
    #sponsorSection{
        margin: 0px;
    }
    .featured-container{
        flex-direction: column-reverse;
     }
    .featured-container > img{
        width: 90%;
     }
     .featured-text-content{
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
     }
}

/* For Tablet Devices */
@media screen and (max-width:992px) {
 header{
    margin: 0px 50px;
 }
 .banner-main-container{
    background-image: none;
}
 .banner-img-container{
    background-image: url('./images/Circle\ design.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-img{
    width: 100%;
}
}
